@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  \--raleway-font-family: "Raleway", sans-serif;
  \--roboto-font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--roboto-font-family), var(--raleway-font-family), sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #757575;
  margin: 0;
}

ul {
  list-style-type: none;
}

.web {
  color: #2196f3;
}

.container {
  width: 1200px;
  height: 38px;
  padding-left: 215px;
  padding-right: 215px;
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background: #fff;
  color: black;
  width: inherit;
  height: 80px;
  align-items: center;
  display: flex;
}

.header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav-list {
  width: 259px;
  padding-right: 270px;
}
.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.header-address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin: 0;
}

.container.header-text {
  padding-left: 215px;
}

.container > a {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: black;
  text-decoration: none;
}
.header > a > span {
  color: #2196f3;
}

.links a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.header-address a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.main-section {
  width: inherit;
  margin: 0;
}

.hero-section {
  background-color: #2f303a;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 210px;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 696px;
  margin-bottom: 30px;
  color: #ffffff;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  height: 50px;
  width: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.details span {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.text-title {
  display: flex;
  justify-content: space-between;
  padding: 94px 215px;
  margin: 0;
  gap: 30px;
}

.details {
  display: inherit;
  margin: 0;
  display: grid;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  width: 100%;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 94;
  margin: 0;
}

.our-team-section > .subtitle {
  padding-top: 94px;
}

.li-items {
  display: flex;
  justify-content: space-between;
  padding: 50px 215px 94px;
  margin: 0;
  gap: 30px;
}

.image-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-team-section {
  background-color: #f5f4fa;
  width: inherit;
}

.card {
  /* card bg */
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;

  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer {
  width: inherit;
}
.footer-text {
  font-style: normal font;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-left: 215px;
  padding-bottom: 60px;
  background-color: #2f303a;
  display: flex;
  flex-direction: column;
}

.footer-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-text .mail-footer,
.footer-text .phone-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-text > a {
  /* WebStudiu footer */
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
}

button:hover {
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}
button:focus {
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

.image-items {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: space-between;
  padding: 50px 215px 94px;
  margin: 0;
  gap: 30px;
}

.image-items-text {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
.image-items span {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
a:hover {
  color: #2196f3;
}
a:focus {
  color: #2196f3;
}

/* Portfolio Button Section */

.portfolio-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 6px 22px;
  margin: 0;
  height: 38px;
  border-style: none;
  font-style: normal;
  text-align: center;
}

.btn-list {
  display: flex;
  flex-basis: auto;
  justify-content: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.problem-button {
  width: 120px;
}

.btn-section {
  border-top: 1px solid #ececec;
  padding: 92px 542px 50px;
  width: fit-content;
}
/* Cards Section */
.card-items {
  border: 1px solid #eee;
  width: 370px;
  height: 404px;
  margin: 0;
}

.portfolio-cards {
  margin: 0;
  width: 1200px;
  padding-left: 215px;
  padding-bottom: 94px;
}

.portfolio-list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0;
}

.card-items h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  margin: 0;
  color: #212121;
  padding-left: 24px;
  padding-top: 20px;
}

.card-items p {
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 4px;
  margin: 0;
}
.card-items:hover,
.card-items:focus {
  cursor: pointer;
  border-color: #2196f3;
}
